{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1> {{ movie.title }} - {{ movie.year }} </h1>
    <h3> {{ movie.rated }} | {{ movie.runtime }} | {{ movie.genre }}</h2>
    <p> {{ movie.plot }} <p>
    <img src="{{ movie.poster }}">
    <br>
    <hr>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% elif not watched %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
        {% if watched %}
        <button class="btn btn-success"> Added to Watched </button>
        {% else %}
        <a href="{% url 'lab-10:add_watched' id %}" class="btn btn-info"> Add to Watched </a>
        {% endif%}
    </div>

</div>
{% endblock %}
