{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1>Watched</h1>
    {% for movie in watched_movies %}
    <hr>
    <h3><a href="{% url 'lab-10:movie_detail' movie.imdbid %}">{{ movie.title }} ({{ movie.year }}) </a></h3>
    {% endfor %}
</div>
{% endblock %}
