{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Facebook Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/lab8.js' %}"></script>
  <style>
    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    .feed {
      background-color: #dfd5e2;
      margin-top: 10px;
      margin-bottom: 10px;
      border-style: solid;
      border-color: black;
      border-width: thin;
    }
    .picture {
      border-radius: 50%;
    }
  </style>
</head>
<body>
  <div id="lab8">
    <button onclick="facebookLogin()">Login with Facebook</button>
  </div>
</body>
</html>
