<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-9:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-9:cookie_profile' %}">Cookies</a></li>
        {% if "cookie" in request.path %}
          {% if 'user_login' in request.COOKIES and 'user_password' in request.COOKIES %}
            <li><a style="color: red" href="{% url 'lab-9:cookie_clear' %}">Logout</a></li>
          {% endif %}
        {% else %}
          {% if request.session.user_login %}
            <li><a style="color: red" href="{% url 'lab-9:auth_logout' %}">Logout</a></li>
          {% endif %}
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
