{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}",
                success: function (response) {
                    var friends = JSON.parse(response);
                    var html = "";
                    for(var i=0;i<friends.length;i++) {
                        url = "{% url 'lab-7:delete-friend' friend_id=12345 %}".replace(/12345/, friends[i]['pk'].toString());
                        html += '<p>' + friends[i]['fields']['friend_name'] + ' ' + friends[i]['fields']['npm'] + '<a href="' + url + '">' + ' delete</a>' + '</p>';
                    }
                    $('.list-group').html(html);
                },
                error: function(error){
                    console.log("wah error cuy")
                }
            });
        });
    </script>
{% endblock %}
